.container.christmas {
  background-color: #101b3b;
  background-image: linear-gradient(to bottom, #56b2ee, #2b5196);
}

.container.christmas .material-icons,
.container.christmas h1,
.container.christmas .options__btn {
  color: #ffffff;
}

.container.christmas .close-btn .material-icons {
  color: #444444;
}

.container.christmas .board .peg-alive {
  background-image: linear-gradient(to top, #af3434, #f46060);
}

.container.christmas .board .peg-active {
  background-image: linear-gradient(to top, #af3434, #f46060);
  border: 2px solid #1a3075;
}

.container.christmas .board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #1a3075;
}

.container.christmas .board .peg-blank {
  border: 2px solid #909399;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
}

.snow-container {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  position: fixed;
}
