@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('./style-christmas.css');
@import url('./style-vaporwave.css');
@import url('../../node_modules/react-alice-carousel/lib/alice-carousel.css');

body,
html {
  margin: 0;
}

.container {
  height: 100vh;
  box-sizing: border-box;
  background-color: #accef2;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #444444;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 32px;
  font-weight: 700;
}

.score {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.theme-select {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.theme-select span {
  margin-right: 16px;
}

.options {
  text-align: center;
}
.options .options__btn {
  font-size: 14px;
  color: #444444;
}
.options__btn i {
  margin-right: 5px;
}

.container .audio-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.rules {
  margin-top: 20px;
  max-width: 217px;
}

.board {
  height: 440px;
  width: 440px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
}

.board.tutorial {
  height: 260px;
  width: 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.board.german,
.board.diamond {
  height: 510px;
  width: 510px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.board.asymmetrical {
  height: 480px;
  width: 480px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.board.european,
.board.english {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.board.square {
  height: 400px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board .peg {
  width: 80%;
  height: 80%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 5px;
  transition: box-shadow 0.1s ease-in-out;
  z-index: 1;
}
.board .peg-alive {
  background-color: #ffc369;
  background-image: linear-gradient(to top, #ffbf5e, #ffc369, #ffc773, #ffcb7e, #ffcf88);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.board .peg-alive:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.board .peg-active {
  background-color: #ffc369;
  background-image: linear-gradient(to top, #ffbf5e, #ffc369, #ffc773, #ffcb7e, #ffcf88);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #3b92d6;
  cursor: pointer;
}
.board .peg-blank {
  border: 2px solid #a3b7cf;
}
.board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #3b92d6;
  cursor: pointer;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.dialog {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 30px 40px 40px;
  text-align: center;
  border-radius: 5px;
  color: #444444;
  z-index: 3;
}
.dialog p {
  margin: 10px 0;
  line-height: 1.4em;
}
.dialog .close-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #444444;
  font-size: 24px;
  cursor: pointer;
}
.dialog .play-btn {
  margin-top: 5%;
}
.dialog--defeat,
.dialog--win {
  top: 25%;
  width: 30%;
  left: 35%;
}
.dialog--defeat > i,
.dialog--win > i {
  font-size: 48px;
}
.dialog--defeat h2,
.dialog--win h2 {
  margin-top: -10px;
  margin-bottom: 25px;
}
.dialog--defeat > i,
.dialog--defeat h2 {
  color: #ef5350 !important;
}
.dialog--win > i,
.dialog--win h2 {
  color: #5dba16 !important;
}

.dialog h3 {
  margin: 0;
}
.dialog .carousel-btn {
  position: absolute;
  top: 49%;
  z-index: 4;
}
.dialog .carousel-btn:nth-of-type(2) {
  left: 0;
}
.dialog .carousel-btn:nth-of-type(3) {
  right: 0;
}
.dialog .carousel-btn i {
  font-size: 40px;
}
.dialog .board-img {
  max-width: 400px;
  width: 90%;
  height: auto;
}

@media (max-width: 992px) {
  .dialog {
    top: 20%;
    left: 15%;
    width: 70%;
    padding: 20px 20px 30px;
  }

  .dialog--defeat,
  .dialog--win {
    top: 25%;
    width: 50%;
    left: 25%;
  }

  .board .peg-alive:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .board .peg:active {
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 576px) {
  .board {
    height: 95vw !important;
    width: 95vw !important;
    max-height: 380px;
    max-width: 380px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .score {
    bottom: 20px;
    left: 20px;
    font-size: 14px;
  }

  .theme-select {
    bottom: 20px;
    right: 20px;
    font-size: 14px;
  }

  .dialog {
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 20px 20px 30px;
  }

  .dialog--defeat,
  .dialog--win {
    top: 20%;
    width: 80%;
    left: 10%;
  }

  .dialog h2 {
    font-size: 18px;
  }

  .dialog h3 {
    font-size: 16px;
  }

  .dialog .play-btn {
    margin-top: 0;
  }

  .rules {
    max-width: 110px;
  }

  .title {
    font-size: 24px;
    margin: 10px;
  }

  .options .options__btn {
    font-size: 12px;
  }

  .options__btn i {
    font-size: 20px;
  }

  .container .select {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (max-height: 560px) {
  .board {
    margin-top: 25vh;
  }
}

@media (orientation: landscape) and (max-height: 700px) {
  .board {
    margin-top: 25vh;
    height: 400px;
    width: 400px;
  }
}

@media (orientation: landscape) and (max-height: 800px) {
  .dialog {
    top: 10%;
  }

  .dialog .board-img {
    max-width: 300px;
  }
}
