.container.christmas {
  background-color: #101b3b;
  background-image: linear-gradient(to bottom, #1a3075, #56b8ee);
}

.container.christmas .material-icons,
.container.christmas h1,
.container.christmas .options__btn {
  color: #ffffff;
}

.container.christmas .close-btn .material-icons {
  color: #444444;
}

.container.christmas .board .peg-alive {
  background-image: linear-gradient(to top, #8b1414, #9f2926, #b23c39, #c54e4c, #d86060);
}
.container.christmas .board .peg-active {
  background-image: linear-gradient(to top, #8b1414, #9f2926, #b23c39, #c54e4c, #d86060);
  border: 2px solid #1a3075;
}
.container.christmas .board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #1a3075;
}
.container.christmas .board .peg-blank {
  border: 2px solid #909399;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
}
