.container.neon {
  background-image: url('../media/neon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.container.neon .material-icons,
.container.neon .select,
.container.neon .options__btn {
  color: #ffffff;
}

.container.neon .close-btn .material-icons,
.container.neon .carousel-btn .material-icons {
  color: #444444;
}

.container.neon .board .peg-alive {
  background-image: linear-gradient(to top, #00bebe, #00cece, #00dede, #00eeee, #00ffff);
}

.container.neon .board .peg-active {
  background-image: linear-gradient(to top, #00bebe, #00cece, #00dede, #00eeee, #00ffff);
  border: 2px solid #5735B7;
}

.container.neon .board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #5735B7;
}

.container.neon .board .peg-blank {
  border: 2px solid #cccccc;
}
