.container.vaporwave {
  background-image: url('../media/vaporwave.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.container.vaporwave .material-icons,
.container.vaporwave .select,
.container.vaporwave .options__btn {
  color: #ffffff;
}

.container.vaporwave .close-btn .material-icons {
  color: #444444;
}

.container.vaporwave .board .peg-alive {
  background-image: linear-gradient(to top, #00bebe, #00cece, #00dede, #00eeee, #00ffff);
}
.container.vaporwave .board .peg-active {
  background-image: linear-gradient(to top, #00bebe, #00cece, #00dede, #00eeee, #00ffff);
  border: 2px solid #5735B7;
}
.container.vaporwave .board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #5735B7;
}
.container.vaporwave .board .peg-blank {
  border: 2px solid #cccccc;
}
