@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("./style-christmas.css");
@import url("./style-neon.css");

body,
html,
#root {
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  box-sizing: border-box;
  background-color: #accef2;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow: hidden;
  color: #444444;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 32px;
  font-weight: 700;
}

.score {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.theme-select {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.theme-select span {
  margin-right: 16px;
}

.options {
  text-align: center;
}

.options .options__btn {
  font-size: 14px;
  color: #444444;
}

.options__btn i {
  margin-right: 5px;
}

.container .audio-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.rules {
  margin-top: 20px;
  max-width: 217px;
}

.board {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
}

.board.tutorial {
  height: 260px;
  width: 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.board.german,
.board.diamond {
  height: 510px;
  width: 510px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board.asymmetrical {
  height: 480px;
  width: 480px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board.english {
  height: 440px;
  width: 440px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board.square {
  height: 400px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board .peg {
  width: 80%;
  height: 80%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 5px;
  transition: box-shadow 0.1s ease-in-out;
  z-index: 1;
}

.board .peg-alive {
  background-color: #ffc369;
  background-image: linear-gradient(to top, #ffbf5e, #ffc369, #ffc773, #ffcb7e, #ffcf88);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.board .peg-alive:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.board .peg-active {
  background-color: #ffc369;
  background-image: linear-gradient(to top, #ffbf5e, #ffc369, #ffc773, #ffcb7e, #ffcf88);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #3b92d6;
  cursor: pointer;
}

.board .peg-blank {
  border: 2px solid #a3b7cf;
}

.board .peg-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #3b92d6;
  cursor: pointer;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  max-height: 95%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 30px 40px 40px;
  text-align: center;
  border-radius: 16px;
  color: #444444;
  z-index: 3;
}

.dialog p {
  margin: 10px 0;
  line-height: 1.4em;
}

.dialog p:last-of-type {
  margin-top: 24px;
  margin-bottom: 32px;
}

.dialog .close-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #444444;
  font-size: 24px;
  cursor: pointer;
}

.dialog .play-btn {
  margin-top: 5%;
}

.dialog--defeat > i,
.dialog--win > i {
  font-size: 48px;
}

.dialog--defeat h2,
.dialog--win h2 {
  margin-top: -10px;
  margin-bottom: 25px;
}

.dialog--defeat > i,
.dialog--defeat h2 {
  color: #ef5350 !important;
}

.dialog--win > i,
.dialog--win h2 {
  color: #5dba16 !important;
}

.dialog h3 {
  margin: 0;
}

.board-gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  height: 640px;
}

.board-gallery .gallery-item {
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.board-gallery .gallery-item:hover {
  background-color: #f4f4f6;
}

.board-gallery .gallery-item--current {
  background-color: #f8f8fa;
  border: 1px solid #cccccc;
}

.board-gallery .board-img {
  width: 160px;
  height: auto;
}

@media (max-width: 768px) {
  .dialog {
    width: 70%;
  }

  .board .peg-alive:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .board .peg:active {
    -webkit-tap-highlight-color: transparent;
  }

  .score {
    bottom: 60px;
    left: 30px;
  }

  .theme-select {
    bottom: 25px;
    left: 30px;
    right: auto;
  }
}

@media (max-width: 480px) {
  .board {
    height: 95vw !important;
    width: 95vw !important;
    max-height: 380px;
    max-width: 380px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .board.tutorial {
    max-height: 200px;
    max-width: 200px;
  }

  .score {
    bottom: 50px;
    left: 20px;
    font-size: 14px;
  }

  .theme-select {
    bottom: 15px;
    left: 20px;
    font-size: 14px;
  }

  .dialog {
    width: 90%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .dialog h2 {
    font-size: 18px;
  }

  .dialog h3 {
    font-size: 16px;
  }

  .dialog .play-btn {
    margin-top: 0;
  }

  .rules {
    max-width: 110px;
  }

  .title {
    font-size: 24px;
    margin: 10px;
  }

  .options .options__btn {
    font-size: 11px;
  }

  .options__btn i {
    font-size: 20px;
  }

  .container .select {
    font-size: 14px;
  }

  .container .select fieldset legend {
    visibility: hidden;
    display: none;
  }

  .board-gallery .board-img {
    width: 72px;
  }
}
